.contato {
    text-align: center;
    background-color: black;
    color: #ffc506;
    padding: 50px 0 50px 0;
    font-size: 20px;
}

.form {
    font-size: 20px;
    margin-bottom: 16px;
    text-transform: uppercase;
    color: white;
}

textarea {
    font-size: 15px;
    margin-bottom: 16px;
    resize: none;
}

#email {
    width: 40%;
    font-size: 15px;
    line-height: 25px;
}

#mensagem {
    width: 40%;
    height: 100px;
    font-size: 15px;
    line-height: 25px;
}

