.contato {
    text-align: center;
    background-color: black;
    color: #ffc506;
    padding: 50px 0 50px 0;
    font-size: 20px;
}

.form {
    font-size: 20px;
    margin-bottom: 16px;
    color: white;
}

.form select{
    border-radius: 20px;
    background-color: rgb(8, 47, 174);
    color: #ffc506;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px;
}

textarea {
    font-size: 15px;
    border-radius: 20px;
    margin-bottom: 16px;
    resize: none;
    background-color: rgb(8, 47, 174);
    color: #ffc506;
    padding: 10px;
}

#email {
    width: 40%;
    font-size: 15px;
    line-height: 25px;
}

#mensagem {
    width: 40%;
    height: 100px;
    font-size: 15px;
    line-height: 25px;
}
/* Enviar */

.center button {
    width: 150px;
    height: 40px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #ffc506;
    border-radius: 20px;
    color: black;
    font-size: 12px;
    font-weight: 700;
    transition: all 400ms ease-in;
    border: 3px solid #ffc506;
}

.center button:hover {
    border: 3px solid #ffc506;
    background-color: transparent;
    color: #ffc506;
} 


